In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [3]:
df =pd.read_csv('titanic.csv', usecols=['Age','Fare','Survived'])

In [4]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [5]:
df.dropna(inplace=True)

In [6]:
X = df.iloc[:,1:]
y = df['Survived']

In [7]:
X.head()

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [8]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [9]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
clf = DecisionTreeClassifier()

In [11]:
clf.fit(X_train,y_train)

ypred = clf.predict(X_test)

In [12]:
accuracy_score(y_test,ypred)

0.6293706293706294

In [13]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

0.6345070422535211

In [14]:
kbin_age= KBinsDiscretizer(n_bins=15,strategy='quantile',encode='ordinal')
kbin_fare = KBinsDiscretizer(n_bins=15,strategy='quantile',encode='ordinal')

In [15]:
trf = ColumnTransformer([
    ('first',kbin_age,[0]),
    ('secound',kbin_fare,[1])
],remainder='passthrough')

In [16]:
X_train_trf =  trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [17]:
trf.named_transformers_

{'first': KBinsDiscretizer(encode='ordinal', n_bins=15),
 'secound': KBinsDiscretizer(encode='ordinal', n_bins=15)}

In [18]:
trf.named_transformers_['first']

KBinsDiscretizer(encode='ordinal', n_bins=15)

In [19]:
trf.named_transformers_['first'].bin_edges_

array([array([ 0.42,  6.  , 16.  , 19.  , 21.  , 23.  , 25.  , 28.  , 30.  ,
              32.  , 35.  , 38.  , 42.  , 47.  , 54.  , 80.  ])             ],
      dtype=object)

In [20]:
clf1 = DecisionTreeClassifier()

In [21]:
clf1.fit(X_train_trf,y_train)
# clf1.transform(X_test_trf)

ypred2 = clf1.predict(X_test_trf)

accuracy_score(y_test,ypred2)

0.6363636363636364

In [22]:
X_trf = trf.fit_transform(X)
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

0.6260758998435054

# Binirazation

In [27]:
df = pd.read_csv('titanic.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [28]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  22.0   7.2500      1      0         0
1  38.0  71.2833      1      0         1
2  26.0   7.9250      0      0         1
3  35.0  53.1000      1      0         1
4  35.0   8.0500      0      0         0

In [29]:
df.dropna(inplace=True)

In [33]:
df['family']=df['SibSp']+df['Parch']

In [34]:
df.head()

    Age     Fare  SibSp  Parch  Survived  family
0  22.0   7.2500      1      0         0       1
1  38.0  71.2833      1      0         1       1
2  26.0   7.9250      0      0         1       0
3  35.0  53.1000      1      0         1       1
4  35.0   8.0500      0      0         0       0

In [36]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [37]:
df.head()

    Age     Fare  Survived  family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [39]:
X=df.drop(columns=['Survived'])
y=df['Survived']

In [41]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [42]:
X_train.head()

      Age     Fare  family
328  31.0  20.5250       2
73   26.0  14.4542       1
253  30.0  16.1000       1
719  33.0   7.7750       0
666  25.0  13.0000       0

In [43]:
y_train.head()

328    1
73     0
253    0
719    0
666    0
Name: Survived, dtype: int64

In [44]:
cf1 = DecisionTreeClassifier()

cf1.fit(X_train,y_train)

ypred = cf1.predict(X_test)

accuracy_score(y_test,ypred)

0.6363636363636364

In [51]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

0.6527190923317684

#  applying Binarization

In [ ]:
# is passenger traveling alone or not
# family if 0 means he is travelling alone more than one travling with some one

In [52]:
from sklearn.preprocessing import Binarizer

In [59]:
trf = ColumnTransformer([
     ('binriz',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [60]:
X_train_trans = trf.fit_transform(X_train)
X_test_trans = trf.transform(X_test)

In [56]:
cf2 = DecisionTreeClassifier()

In [61]:
cf2.fit(X_train_trans,y_train)

ypred2= cf2.predict(X_test_trans)

accuracy_score(y_test,ypred2)

0.6223776223776224

In [62]:
X_trf = trf.fit_transform(X)
np.mean(cross_val_score(DecisionTreeClassifier(),X_trf,y,scoring='accuracy',cv=10))

0.6388106416275431